<html>

<head>
	<!-- Material Design Lite -->
	<script src="https://code.getmdl.io/1.2.1/material.min.js"></script>
	<link rel="stylesheet" href="https://code.getmdl.io/1.2.1/material.indigo-pink.min.css">
	<!-- Material Design icon font -->
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>

<body>
	<!-- Textfield with Floating Label -->

	<form action="#">
		<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
			<input class="mdl-textfield__input" type="text" id="username" required [(ngModel)]="username" name="username">
			<label for="username" class="mdl-textfield__label">Name</label>
		</div>
		<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
			<label class="mdl-textfield__label" for="password">Password</label>
			<input type="password" class="mdl-textfield__input" id="password" required [(ngModel)]="password" name="password">
		</div>
		<button class="mdl-button mdl-js-button mdl-button--raised" (click)="login()" *ngIf="!authService.isLoggedIn()">Login</button>
		<button class="mdl-button mdl-js-button mdl-button--raised" (click)="logout()" *ngIf="authService.isLoggedIn()">Logout</button>
	</form>
</body>

</html>