<div class="mdl-layout mdl-js-layout">
  <header class="mdl-layout__header">
    <div class="mdl-layout-icon"></div>
    <div class="mdl-layout__header-row">
      <span class="mdl-layout__title">Tool</span>
      <div class="mdl-layout-spacer"></div>
      <nav class="mdl-navigation">
        <a class="mdl-navigation__link" href="#" routerLink="/help">Help</a>
        <a class="mdl-navigation__link" href="#" routerLink="/contact">Contact</a>
        <a class="mdl-navigation__link" href="#" (click)="logout()" *ngIf="authService.isLoggedIn()">Logout</a>
        <a class="mdl-navigation__link" href="#" (click)="login()" *ngIf="!authService.isLoggedIn()">Login</a>
      </nav>
    </div>
  </header>
  <div class="mdl-layout__drawer">
    <span class="mdl-layout__title">Tool</span>
    <nav class="mdl-navigation">
      <a class="mdl-navigation__link" href="#" routerLink="/help">Help</a>
      <a class="mdl-navigation__link" href="#" routerLink="/contact">Contact</a>
      <a class="mdl-navigation__link" href="#" (click)="logout()" *ngIf="authService.isLoggedIn()">Logout</a>
      <a class="mdl-navigation__link" href="#" (click)="login()" *ngIf="!authService.isLoggedIn()">Login</a>
    </nav>
  </div>
  <main class="mdl-layout__content">
    <div><router-outlet></router-outlet></div>
  </main>
</div>





