.demo-layout-transparent {
  background: url('https://getmdl.io/assets/demos/transparent.jpg') center / cover;
}
.demo-layout-transparent .mdl-layout__header,
.demo-layout-transparent .mdl-layout__drawer-button {
  /* This background is dark, so we set text to white. Use 87% black instead if
     your background is light. */
  color: white;
}

.demo-card-square.mdl-card {
  /*width: 320px;
  height: 320px;*/
  
}

.tool-max-width {
  max-width: 1280px;
  margin: auto;
}