<html>

<head>
	<!-- Material Design Lite -->
	<script src="https://code.getmdl.io/1.2.1/material.min.js"></script>
	<link rel="stylesheet" href="https://code.getmdl.io/1.2.1/material.indigo-pink.min.css">
	<!-- Material Design icon font -->
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>

<body>
	<p>home page</p>	
	<button md-raised-button color="primary" (click)="authService.logout()" *ngIf="authService.isLoggedIn()">Logout</button>
</body>

</html>