<html>
<head>
	<link rel="stylesheet" href="/material.min.css">
	<script src="/material.min.js"></script>
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<link rel="stylesheet" href="https://code.getmdl.io/1.2.1/material.blue-red.min.css" />
</head>
<body>
	<p>home page</p>	
	<!--<button md-raised-button color="primary" (click)="logout()" *ngIf="authService.isLoggedIn()">Logout</button>-->

	<div class="mdl-grid tool-max-width">
		<div class="mdl-cell mdl-cell--4-col" style="text-align: -webkit-center;">
			<div class="demo-card-square mdl-card mdl-shadow--8dp" style="align-items: center">
			<div class="mdl-card__title mdl-card--expand">
				<h2 class="mdl-card__title-text">Create a new checklist</h2>
			</div>
			<div class="mdl-card__supporting-text">
				Allows you to create a new checklist based on your opportunity.
			</div>
			<div class="mdl-card__actions mdl-card--border">
				<a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
					Create
				</a>
			</div>
			</div>
		</div>
		<div class="mdl-cell mdl-cell--4-col" style="text-align: -webkit-center;">
			<div class="demo-card-square mdl-card mdl-shadow--8dp" style="align-items: center">
				<div class="mdl-card__title mdl-card--expand">
					<h2 class="mdl-card__title-text">Work on checklist</h2>
				</div>
				<div class="mdl-card__supporting-text">
					Allows you to work on checklists you have created.
				</div>
				<div class="mdl-card__actions mdl-card--border">
					<a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
						Work on checklist
					</a>
				</div>
			</div>
		</div>
		<div class="mdl-cell mdl-cell--4-col" style="text-align: -webkit-center;">
			<div class="demo-card-square mdl-card mdl-shadow--8dp" style="align-items: center">
				<div class="mdl-card__title mdl-card--expand">
					<h2 class="mdl-card__title-text">Review checklist</h2>
				</div>
				<div class="mdl-card__supporting-text">
					Allows Quality Practitioner to work on checklists that have been submitted.
				</div>
				<div class="mdl-card__actions mdl-card--border">
					<a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
						Review checklist
					</a>
				</div>
			</div>			
		</div>
	</div>
		<div class="mdl-grid tool-max-width">
		<div class="mdl-cell mdl-cell--6-col" style="text-align: -webkit-center;">
			<div class="demo-card-square mdl-card mdl-shadow--8dp" style="align-items: center">
			<div class="mdl-card__title mdl-card--expand">
				<h2 class="mdl-card__title-text">Administration</h2>
			</div>
			<div class="mdl-card__supporting-text">
				Allows you to administer TDA application.
			</div>
			<div class="mdl-card__actions mdl-card--border">
				<a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
					Administration
				</a>
			</div>
			</div>
		</div>
		<div class="mdl-cell mdl-cell--6-col" style="text-align: -webkit-center;">
			<div class="demo-card-square mdl-card mdl-shadow--8dp" style="align-items: center">
				<div class="mdl-card__title mdl-card--expand">
					<h2 class="mdl-card__title-text">Help/Feedback</h2>
				</div>
				<div class="mdl-card__supporting-text">
					Allows you to submit a question or provide feedback on the tool.
				</div>
				<div class="mdl-card__actions mdl-card--border">
					<a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
						Help/Feedback
					</a>
				</div>
			</div>
		</div>
	</div>
</body>
</html>

